* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sketch;
  font-weight: 400;
}

@font-face {
  font-family: sketch;
  src: url("./fonts/BuxtonSketch.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: #161b22;
  background-image: url("./assets/images/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sketch, "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
